@import "./Pages/Home/Home.scss";
@import "./Components/Card/Card.scss";
@import "./Pages/Events/Event.scss";
@import "./Components/Nav/Nav.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: black;
  color: white;
  font-family: monospace;
}