@import "./Pages/Home/Home.scss";
@import "./Components/Card/Card.scss";
@import "./Pages/Events/Event.scss";
@import "./Components/Nav/Nav.scss";
@import "./Components/Social/Social.scss";


//JURA FONTS
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: black;
  color: white;
  font-family: 'Jura', sans-serif;
}