.Nav{
    //background-color: teal;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    .navLinks{
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 40%;
        .link{
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 1em;
            color: whitesmoke;
        }
        .link:hover{
            color: rebeccapurple;
            transition: 0.2s ease-in;
        }
    }
}